body{
  background: #000016;

}

h1{
  color: #02c;
  font-family: Bungee;
  font-size: 400%;
}

.button-layout{
  position: absolute;
  top: 5%;
  left: 33%;
  z-index: 1;
  background: #020202;
  width: 820px;
  height: 820px;
  border-width: 0px;
  border-radius: 50%;
  padding: 12px 12px 12px 12px;
}

.menu{
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 39%;
  
}

.menuBtn{
  background: #333;
  color: #0af;
  font-family: Bungee;
  font-size: 170%;
  width: 45%;
  margin-right: 3px;
}

.simonButton{
  width: 50%;
  height: 400px;
}

#redButton{
  background: url("../img/simon_red_off.png");
  background-size: 100%;
  background-repeat: no-repeat;
  } 

#blueButton{
  background: url("../img/simon_blue_off.png");  
  background-size: 100%;
  background-repeat: no-repeat;
}

#greenButton{
  background: url("../img/simon_green_off.png");
  background-size: 100%;
  background-repeat: no-repeat;
}


#yellowButton{
  background: url("../img/simon_yellow_off.png"); 
  background-size: 100%;
  background-repeat: no-repeat;
}



.loseText{
  color: #f00;
  position: fixed;
  font-size: 1900%;
  top: 20%;
  left: 25%;
  display: none;
  z-index: 8;
}

.winText{
  color: #0f0;
  position: fixed;
  font-size: 1900%;
  top: 20%;
  left: 25%;
  display: none;
  z-index: 8;
}


.yellowButton-active{
  background: url("../img/simon_yellow_on.png") !important;
  background-size: contain !important;
}

.redButton-active{
  background: url("../img/simon_red_on.png") !important;
  background-size: contain !important;
}

.blueButton-active{
  background: url("../img/simon_blue_on.png")  !important;
  background-size: contain !important;
}
.greenButton-active{
  background: url("../img/simon_green_on.png") !important;
  background-size: contain !important;
}

#score-counter{
  border-style: solid;
  border-width: 3px;
  font-family: "Press Start 2P";
  color: #0b0;
  background: #030;
  border-color: #222;
  width: 100px;
  height: 100%;
  border-radius: 10%;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 2;
}

.menuFunctions{
  position: absolute;
  z-index: 0;
  top: 35%;
  left: 39%;
  width: 200px;
  padding: 10px 0px 10px 0px;
  font-family: Bungee;
  color: #02a;
  font-size: 10px;
}


.col{
  position: relative;
  z-index: 8;
}

.hi-score-btn{
  position: relative;
  z-index: 6;
  background-image: url("../img/hi_score_button.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 260%;
  height: 90%;
  text-align: center;
  padding-top: 62%;
  z-index: 7 !important;
}

.hi-score-btn-active{
 background: url("../img/hi_score_button_pressed.png") !important;
  background-size: cover !important;
  padding-top:70% !important;
  padding-left: 4% !important;
   z-index: 7 !important;
}

#diffSlider{
  background: url("../img/toggle_off.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.diffSlider-med{
  background: url("../img/toggle_mid.png") !important;  
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.diffSlider-hard{
  background: url("../img/toggle_on.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.hi-score-display{
  display: none;
  font-family: "Press Start 2P";
  color: #0b0;
  font-size: 8px;
  position: absolute;
  top: 20%;
  left: 22%;
}

.hi-score-display-active{
  display: block !important;
}

.credit-text{
  color: #666;
  text-align: center;
}

.help-text{
  position: absolute;
  top: 20px;
  left: -250px;
  color: #fff;
  background: #666;
  border-radius: 5%;
  width: 300px;
  padding: 5px;
  font-size: 150%;
  display: none;
}

.hidden-help{
  position: absolute;
  top: 20px;
  left: -250px;
  color: #fff;
  background: #666;
  border-radius: 50%;
  font-size: 150%;
  width: 3%;
  text-align: center;
}

.diff-section{
  position: relative;
  left: -3%;
  top: -4%;
  z-index: 3;
}

.menu-row{
  width: 50%;
}